<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include("./partials/head") %>
  <!-- Head -->

  <body>
    <main>
      <!-- Header -->
      <%- include("./partials/header") %>
        <!-- Header -->



          <!-- Home -->
          <%- include("./partials/home") %>
            <!-- home -->
            <hr>

            <!-- Info Personal -->
            <%- include("./partials/info") %>
              <!-- Info Personal -->

              <!-- Formación Académica -->
              <%- include("./partials/formacion") %>
                <!-- Formación Académica -->

                <!-- Experiencia Laboral -->
                <%- include("./partials/expLab") %>
                  <!-- Experiencia Laboral -->

                  <!-- Conocimientos Informáticos -->
                  <%- include("./partials/conocimientos") %>
                    <!-- Conocimientos Informáticos -->

                    <!-- Idiomas -->
                    <%- include("./partials/idiomas") %>
                      <!-- Idiomas -->

                      <!-- Contactame -->
                      <%- include("./partials/contacto") %>
                        <!-- Contactame -->

                        <!-- Conociendo el mundo -->
                        <%- include("./partials/fotos") %>
                          <!-- Conociendo el mundo -->

                          <hr>
                          <!-- footer -->
                          <%- include("./partials/footer") %>
                            <!-- footer -->
    </main>

  </body>

</html>